body {
  padding: 4rem;
  padding: clamp(4rem, 1vw, 4rem);
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

section.header {
  background: var(--grey);
  border-radius: 10px;
}

section.main,
section.form {
  padding-top: 1rem;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

section.footer {
  padding-top: 1rem;
}

.container {
  padding: 25px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--grey);
  flex: 2;
}

label {
  font-size: 0.833rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

input,
progress {
  width: 100%;
  padding-top: 5px;
}

.statistics {
  height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  background: var(--grey);
}

.input {
  flex: 1;
  gap: 1rem;
  display: flex;
  align-items: flex-end;
}

.logo {
  line-height: 1.6;
  color: var(--orange);
}

table {
  width: 100%;
  background: transparent;
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  font-size: 0.833rem;
  text-align: left;
  padding: 1rem;
}

tr:nth-child(odd) {
  background: var(--white);
}

tr:first-child {
  color: var(--white);
}

tr:first-child td {
  background: var(--black);
}

tr:first-child td:first-child {
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
}

tr:first-child td:last-child {
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
}
